<!doctype html>
<html ng-app="webClient">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <script src="js/pinController.js"></script>

</head>
<body ng-controller="PinController">
<div class="container">
    <h1>Web client for pi4j-client</h1>

    <p class="lead">This message is some bla bla for now.</p>
</div>
<div class="container">
    <div class="row" style="margin-bottom: 4px">
        <wc-pin pin="pin" ng-repeat="pin in pins | limitTo : 13"></wc-pin>
    </div>
    <div class="row">
        <wc-pin pin="pin" ng-repeat="pin in pins | limitTo : 13 : 13"></wc-pin>
    </div>
</div>
</body>
</html>
