<span>
    <button type='button' ng-if="pin.value == 'High' && pin.mode == 'Input'" class='btn btn-info active' ng-click='pinChanged(pin)'>
        <span class='glyphicon glyphicon-plus-sign'></span>
    </button>

    <button type='button' ng-if="pin.value == 'Low' && pin.mode == 'Input'" class='btn btn-info' ng-click='pinChanged(pin)'>
        <span class='glyphicon glyphicon-minus-sign'></span>
    </button>

    <button type='button' ng-if="pin.value == 'High' && pin.mode == 'Output'" class='btn btn-warning active'>
        <span class='glyphicon glyphicon-plus-sign'></span>
    </button>

    <button type='button' ng-if="pin.value == 'Low' && pin.mode == 'Output'" class='btn btn-warning'>
        <span class='glyphicon glyphicon-minus-sign'></span>
    </button>

    <button type='button' ng-if="pin.mode == 'disabled'" class='btn btn-default' disabled="true">
        <span class='glyphicon glyphicon-minus-sign' disabled></span>
    </button>
</span>